/*-------------------------------MAIN-STYLES-------------------------------------*/

html{
    max-width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    width: 1160px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header {
    width: 100%;
    height: 900px;
    background-image: url(../img/header/header_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    flex-grow: 1;
    width: 100%;
    height: auto;
}
.footer {
    flex-shrink: 0;
    background-color: #102025;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 486px 59px 151px;
}
/*-------------------------------HEADER-------------------------------------*/

/*-------------------------------HEADER-TOP-------------------------------------*/
.header__top {
    max-width: 100%;
    margin: 32px 0;
    height: 81px;
}
.header__top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    width: 160px;
    height: 81px;
}
.header__top-nav-navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin-left: 260px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06em;
}

.header__top-nav-navigation a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px; /* Добавим отступ снизу для линии */
}

.header__top-nav-navigation a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0; /* Линия изначально невидима */
    height: 3px;
    border-radius: 16px;
    background-color: #F6D944;
    transition: width 0.3s ease; /* Анимация появления линии */
    
}

.header__top-nav-navigation a:hover::after {
    width: 16px; /* Линия появляется при наведении */
}



/*-----------------------------LANG-BUTTON-LIST---------------------------*/
.dropbtn {
    padding: 5px;
    cursor: pointer;
    background-color: #6C6C6C;
    width: 60px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6C6C6C;
    width: 80px;
    height: auto;
    border-radius: 20px;
}

.dropbtn
{
    border-radius: 20px;
    padding-left: 35px;
    width: 80px;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px 10px;
}

.dropbtn::after {
    background: url(../img/header/button_down.png) no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: 4px;
    top: 8px;
    width: 16px;
}

.dropdown-content a:first-child
{
  background: url(../img/header/lang.png) no-repeat left center;
  border-radius: 15px;
}

.dropdown-content a:last-child
{
  background: url(../img/header/lang.png) no-repeat left center;
  border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 7px 8px 7px 28px;
    text-decoration: none;
    display: block;
    margin-left: 9px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #444444;
    width: 62px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*---------------------------------------------------------------------------------*/

/*-------------------------------HEADER-CONTENT-------------------------------------*/

.header__content {
    text-align: center;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 130px;
    font-size: calc(44px + 20 * (100vw / 1160px));
}
.header__content h1{
    font-family: 'Bonnet Grotesque NR';
    font-weight: 500;
    font-size: 64px;
    text-transform: uppercase;
    color: #F6D944;
    height: 60px;
}
.header__content h2{
    font-family: 'Bonnet Grotesque NR';
    font-weight: 500;
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
    width: 1160px;
    height: 350px;
    line-height: 164px;
    padding-top: 25px;

}
.circuit {
    margin-top: -50px;
    font-weight: 500;
    font-size: 144px;
    text-transform: uppercase;
    font-family: 'Bonnet Grotesque NR';
    -webkit-text-stroke: 2px #fff;
    color: transparent; /* Цвет букв заголовка */
}
.button {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    height: 60px;
    padding: 17px 34.5px;
    border-radius: 28px;
    background-color: #F6D944;
    border: 0;
    cursor: pointer;
    width: 160px;
    color: #000;
    margin: 36px 501px 0 502px;
}

/*-------------------------------------------------------------------------------*/


/*---------------------------------MAIN-----------------------------------*/
/*---------------------------------ABOUT US-----------------------------------*/
.about{
    width: auto;
    height: auto;
}
/*---------------------------------MAIN__BLOCK-1-----------------------------------*/

.main__block-1 {
    width: 1343px;
    height: 629px;
    display: flex;
    padding-top: 29px;

}
.main__block-1-txt1-left {
    width: 624px;
    height: 421px;
    margin-top: 143px;
}
.main__block-1-txt1-left h3{
    font-size: 70px;
    font-family: 'Bonnet Grotesque NR'; 
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 420px -18px 0px;

}
.main__block-1-txt1-left p{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 144%;
    letter-spacing: 0.01em;
    text-align: justify;

}
.main__block-1 img{
    margin-top: 29px;
    margin-left: 56px;
    width: 684px;
    height: 569px;

}
.line {
    width: 98px;
    border: 2.5px #F6D944 solid;
    margin: 26px 0 24px 0;
}
.main__block-1-txt1-left p span.bold{
    font-weight: 700;
}

/*------------------------------------------MAIN__BLOCK-2----------------------------------------------------------------*/
.main__block-2 {
    width: 1396px;
    height: 641px;
    display: flex;
    margin-top: 52px;
}
.main__block-2 img{
    margin: 52px 0 0 -15px;
}
.main__block-1-txt1-right {
    width: 600px;
    height: 599px;
    padding: 94px 0 0 34px;
}
.main__block-1-txt1-right p{
    font-size: 25px;
    line-height: 144%;
    letter-spacing: 0.01em;
    text-align: justify;
}
.main__block-1-txt1-right span.bold{
    font-weight: 700;
}


/*-----------------------------------------------SERVICES------------------------------------------*/
/*---------------------block-1-----------------*/
.services {
    width: 100%;
    height: auto;
}
.services__block-1 {
    display: flex;
    width: 1369px;
}
.services__block-1 img{
    margin: 255px 0 0 0;
}
.services__block-1-txt {
    width: 763px;
    height: auto;
    padding-top: 114px;
}
.services__block-1-txt h3{
    margin-right: 505px;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bonnet Grotesque NR'; 
}
.services__block-1-txt h4{
    padding-top: 45px;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    margin-right: 600px;
    width: 420px;
    text-align: center;
}
.services__block-1-txt p.first{
    font-weight: 500;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    line-height: 144%;
    padding: 30px 0 24px 0;
    text-align: justify;
}
.services__block-1-txt p.second{
    font-weight: 500;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    line-height: 144%;
    text-align: justify;
    width: 660px;
}
.services__block-1-txt p span.bold{
    font-weight: 700;
}
.yellow {
    margin-right: 25px;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bonnet Grotesque NR';
    color: #F6D944;
}
.button__1 {
    border: 0;
    background-color: #F6D944;
    padding: 17px 78.5px;
    width: 260px;
    height: 60px;
    border-radius: 28px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 265px;
    margin: 60px 0 0 0;
    cursor: pointer;
}

/*------------------------block-2-----------*/

.services__block-2 {
    display: flex;
    margin-top: 78px;
    gap: 100px;
    width: 1310px;
}
.services__block-2 img{
    margin-left: -70px;

}
.services__block-2-txt {
    width: 1382px;
    height: auto;
}
.services__block-2-txt h4{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 700px;
}
.services__block-2-txt p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.services__block-2-txt .first{
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 24px;
    font-size: 25px;
    line-height: 144%;
    text-align: justify;

}
.services__block-2-txt .second{
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 24px;
    line-height: 144%;
    text-align: justify;

}
.services__block-2-txt .third{
    font-weight: 500;
    font-size: 25px;
    line-height: 144%;
    text-align: justify;

}
.services__block-2-txt p span.bold {
    font-weight: 700;
}

/*-------------------------block-3--------------------------*/

.services__block-3 {
    display: flex;
    width: 1394px;
    height: auto;
    margin-top: 40px;
}
.services__block-3-txt {
    width: 1382px;
    height: auto;
    gap: 100px;
    margin-top: 30px;
}
.services__block-3-txt h4{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 700px;
    padding-right: 310px;
}
.services__block-3-txt p span.bold {
    font-weight: 700;
}
.services__block-3-txt p{
    width: 700px;
    text-align: justify;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
.first {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-top: 36px;
    font-size: 25px;
    line-height: 144%;
    padding-bottom: 24px;
}
.second {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 144%;
    padding-bottom: 24px;
}
.third {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 144%;
}
/*-----------------------------------------------------------------------------------------------------*/

/*-------------------------------------block-4----------------------------------------*/

.services__block-4 {
    display: flex;
    width: 1374px;
    height: auto;
    gap: 100px;
    margin-top: 40px;
}
.services__block-4-txt {
    width: 1382px;
    height: auto;
    gap: 100px;
    margin-top: 30px;
}
.services__block-4 img{
    margin-left: -70px;
}
.services__block-4-txt h4{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 515px;
    line-height: 40px;
    text-align: center;
}
.services__block-4-txt p{
    width: 700px;
    text-align: justify;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
.services__block-4-txt p span.bold{
    font-weight: 700;
}
/*-----------------------------------------------------------------------------------------------*/


/*---------------------------------------------POP-UP--------------------------------------------------*/

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(147, 147, 147, .8);
    transform: translate(0%, 0%) scale(0);
    transition: .4s ease-in-out;
    z-index: 2;
}
.pop_up.active{
    transform: translate(0%, 0%) scale(1);
    transition: .4s ease-in-out;

}
.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body {
    margin: auto;
    width: 959px;
    height: 723px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 100px 110px;
    position: relative;
}
.pop_up_body h3{
    font-family: 'Bonnet Grotesque NR';
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5%;
    line-height: auto;
}
.pop_up_body .popup-line{
    border: 5px solid #F6D944;
    width: 98px;
    height: 0px;
    border-radius: 15px;
    margin: 0px auto 24px auto;
}
.pop_up_body input{
    width: 100%;
    display: block;
    padding: 14px 290px;
    margin: 16px auto 0 auto;
    border-radius: 15px;
    font-weight: 200;
    font-size: 25px;
    line-height: 121%;
    letter-spacing: 0.02em;
    text-align: center;
    border: 2px solid #444444;
}
.pop_up_body input:focus{
    outline: none;
}
.pop_up_body form{
    width: 759px;
}

.g-recaptcha {
    margin: 24px 0 24px 457px;
}
.btn__popup {
    font-weight: 500;
    font-size: 25px;
    line-height: 121%;
    letter-spacing: 0.02em;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    padding: 14px 60px;
    width: 760px;
    height: 58px;
    background-color: #F6D944;
    border: none;
    font-family: 'Inter', sans-serif;
}
.btn__popup a{
    display: block;
    width: 100%;
}
.popup__close {
    position: absolute;
    top: 24px;
    left: 899px;
    font-size: 36px;
    cursor: pointer;
}
/*----------------------------------------------------------------------------------*/

/*---------------------------------PORTFOLIO---------------------------------------------*/

.portfolio {
    width: 100%;
    height: 1140px;
    background-image: url(../img/main/Profiles/BG.png);
    background-position: center;
    background-size: cover;
    padding-top: 130px;
}
.portfolio h3{
    color: #fff;
    font-family: "Bonnet Grotesque NR"; 
    width: 300;
    height: 84px;
    font-weight: 500;
    font-size: 70px;
    line-height: 0%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
    margin-left: 70px;
    padding-top: 30px;
}
.portfolio .button {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    height: 60px;
    padding: 17px 34.5px;
    border-radius: 28px;
    background-color: #F6D944;
    border: 0;
    cursor: pointer;
    width: 200px;
    color: #000;
    margin: 36px 501px 0 460px;
}
.portfolio__list {
    margin-left: 70px;
    width: 1000px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.portfolio__list .filterDiv img{
    width: 210px;
    height: 340px;
    display: block;
}
.portfolio__list .filterDiv:hover{
    
}

.cards__container {
    margin-top: 30px;
    overflow: hidden;
    gap: 40px;
    display: flex;
    align-items: center;
    width: 1000px;
    height: 720px;
    flex-wrap: wrap;
  }
  
  .filterDiv {
    float: left;
    color: #ffffff;
    width: 210px;
    height: 340px;
    line-height: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  /* В класс "show" добавляется к отфильтрованные элементы */
  .show {
    display: block;
  }
  
  /* Стиль кнопок */
  #myBtnContainer{
    margin-left: 49%;
  }
  .btn {
    position: relative;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF; /* Цвет текста, как на фото */
}

.btn:hover {
    background-color: transparent;
    text-decoration: none;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0; /* Линия изначально невидима */
    height: 3px;
    border-radius: 16px;
    background-color: #F6D944;
    transition: width 0.3s ease; /* Анимация появления линии */
}

.btn:hover::after {
    width: 30px; /* Линия будет полностью видна при наведении */
}

.btn.active {
    background-color: transparent;
    color: #FFFFFF; /* Цвет активного текста */
}


/*----------------------------------------------------------------------------------*/

/*-------------------------------------BULLETIN---------------------------------------------*/

.bulletin{
    width: 100%;
    height: auto;
    margin-top: 82px;
}
.bulletin h3{
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bonnet Grotesque NR';

}
.bulletin p{
    width: 958px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 144%;
    font-family: 'Inter', sans-serif;


}
.bulletin .line{
    width: 98px;
    border: 2.5px #F6D944 solid;
    margin: 0 auto 24px auto;
}

/*----------------------------------------------------------------------------------*/

/*---------------------------------------SERVICES-------------------------------------------*/
.contacts {
    width: 100%;
    height: auto;
    margin-top: 87px;
}
.contacts h3{
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bonnet Grotesque NR';
}
.contacts .line {
    width: 98px;
    border: 2.5px #F6D944 solid;
    margin: 0 auto 24px auto;
}
.contacts__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.contacts__container-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.card {
    width: 315px;
    margin: 0 auto;
}
.card img{
    width: 133px;
    height: 106px;
    margin: 26px auto;
}
.card p{
    text-align: center;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 144%;
    color: #102025;
}
.font_bold {
    text-align: center;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: #102025;
    line-height: 144%;
}
.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/*--------------------------------------------------------------------------------------*/

/*------------------------------------SOCIALS--------------------------------------------------*/

.socials {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    margin-bottom: 91px;
}
.socials__container{
    display: flex;
    justify-content: space-between;
    gap: 22px;
    padding-top: 32px;
    align-items: center;
}
.socials h3{
    width: 100%;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

.socials a img{
    width: 72px;
    height: 72px;
}
/*----------------------------------------------------------------------------------*/

/*------------------------------------------FOOTER----------------------------------*/


/*-----------------------------PRIVACY-POPUP + TERMS-POPUP------------------------------*/
/*---------------------------------------------POP-UP--------------------------------------------------*/

/* Основной контейнер модального окна */
.pop_up_privacy, .pop_up_terms {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Поверх других элементов */
    padding: 7vh 50vh;
}

/* Контейнер для содержимого модального окна */
.pop_up_privacy_container, .pop_up_terms_container {
    background-color: #fff; /* Белый фон */
    max-width: 960px;
    max-height: 754px;
    padding: 80px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Легкая тень для объема */
    position: relative;
}

/* Контент модального окна */
.pop_up_privacy_body, .pop_up_terms_body {
    overflow-y: scroll;
    max-height: 65vh; /* Ограничение по высоте окна для прокрутки контента */
}
.pop_up_privacy_body::-webkit-scrollbar,
.pop_up_terms_body::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 5px;
    height: 200px;
}

.pop_up_privacy_body::-webkit-scrollbar-thumb,
.pop_up_terms_body::-webkit-scrollbar-thumb {
    background: #F6D944;
    border-radius: 5px;
}
/* Заголовок */
.pop_up_privacy_body h3, .pop_up_terms_body h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Горизонтальная линия */
.pop-up-privacy-line, .pop-up-terms-line {
    width: 74px;
    margin: 24px auto 24px auto;
    height: 5px;
    border-radius: 20px;
    background-color: #F6D944;
}

/* Параграфы внутри модального окна */
.pop_up_privacy_body p, .pop_up_terms_body p {
    font-family: 'Inter', sans-serif;

    color: #000;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 144%;
}

/* Ссылка внутри модального окна */
.pop_up_privacy_body a, .pop_up_terms_body a {
    color: #007BFF;
    text-decoration: none;
}

.pop_up_privacy_body a:hover,
.pop_up_terms_body a:hover {
    text-decoration: underline;
}

/* Кнопка закрытия */
.popup_privacy_close, .popup_terms_close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 36px;
    cursor: pointer;
}

.popup_privacy_close:hover,
.popup_terms_close:hover {
    color: #F6D944; /* Красный цвет при наведении */
}
#pop_up_terms {
    display: none; /* Скрываем окно по умолчанию */
}
#popup_privacy {
    display: none; /* Скрываем окно по умолчанию */
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------------FOOTER-----------------------------------------*/

.logo {
}
.footer__block-1 {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.footer__block-1 img{

}
.footer__block-1 p{
    width: 650px;
    height: 92px;
    font-weight: 300;
    font-size: 16px;
    line-height: 144%;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
.footer__block-1 p:first-child{
    padding-top: 53px;
}
.footer__txt{

}
.footer__block-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-weight: 400;
    ont-size: 16px;
    letter-spacing: 0.06em;
    font-family: 'Inter', sans-serif;
}
.footer__block-2 a{
    color: #FFFFFF;

}
.footer__block-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    align-items: center;
}
.footer__block-3 a{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.06em; 
    font-family: 'Inter', sans-serif;
    width: 217px;
}
.footer__flexbox-blocks{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.footer__button{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #000;
    height: 60px;
    padding: 17px 34.5px;
    border-radius: 28px;
    background-color: #F6D944;
    border: 0;
    cursor: pointer;
    width: 160px;
    color: #000;
    margin-right: 51;
    
}
.footer__button a{
    color: #000;
}


/*----------------------------------------------------------------------------------*/

@font-face {
    font-family: "Bonnet Grotesque NR"; 
    src: url("../fonts/astype-bonnet-grotesque-nr-demo.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
  } 